body {background-color: black;
      font-family: Poppins, sans-serif;
     }
.igpage {background-color: white;
         height: 550px;
         width: 400px;
         margin-left:auto;
         margin-right:auto;
        }
.header-flexbox {display:flex;
                 height:50px;
                 width:auto;
                }
.pfp {
    border-radius: 100%;
    object-fit: cover;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    justify-content: center;
}
.image-container {
    object-fit: cover;
    width: 400px;
    height: 300px;
}
